.modeToggle {
  position: fixed;
  bottom: 100px;
  right: 33px;
  z-index: 1000;
}

.toggleButton {
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s ease, border-radius 0.3s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    width: 80px;
    border-radius: 25px;
  }
}

.toggleButton.dark {
  background-color: #333;
}

.iconWrap {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
  transition: transform 0.4s ease;
}

.icon {
  position: absolute;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.4s ease, opacity 0.3s ease;
  background: none;
  color: #000;
}

.toggleButton.dark .icon {
  color: #f8b500;
}

.icon.sun {
  transform: translateX(0);
  opacity: 1;
}

.icon.moon {
  transform: translateX(40px);
  opacity: 0;
}

.toggleButton.dark .icon.sun {
  transform: translateX(-40px);
  opacity: 0;
}

.toggleButton.dark .icon.moon {
  transform: translateX(0);
  opacity: 1;
}

.toggleButton:hover .icon {
  opacity: 1;
}

body[data-theme="light"] {
  background-color: #ffffff;
  color: #000000;
  transition: background-color 0.4s ease, color 0.4s ease;
}

body[data-theme="dark"] {
  background-color: #000;
  color: #ffffff;
  transition: background-color 0.4s ease, color 0.4s ease;
}

@media (max-width: 768px) {
  .modeToggle {
   position: fixed;
        bottom: 93px;
        right: 32px;
        z-index: 1000;
  }
}
