@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  /* overflow-x: hidden;
  display: block; */
  max-width: 100%;
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  top: 0px !important;
}

.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
  height: 0 !important;
}
